.dashboard-card {
  height: 80px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.dashboard-card-body {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 12px;
}
.dashboard-card-title {
  font-family: Helvetica;
  font-weight: 700;
  font-size: 12px;
  color: #A0AEC0;
  margin-bottom: 0;
}
.dashboard-card-text {
  font-size: 1.5rem;
  margin-bottom: 0;
}
.dashboard-icon-container {
  background-color: #EAB308;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
.dashboard-icon {
  color: #fff;
  font-size: 20px;
}
.bordered-grid {
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 8px;
  border-radius: 8px;
  box-sizing: border-box;
}
/* Title style */
.grid-title {
  font-family: 'Jost', sans-serif;
  color: #334D6E;
  text-align: left;
  padding: 10px;
  font-weight:  Bold;
  font-size: 14px;
}
/* Table styles */
.institutions-table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Jost', sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #334D6E;
}
.institutions-table thead{
  width: 100%;
  border-collapse: collapse;
  font-family: 'Jost', sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #8F95B2;
}
.institutions-table th,
.institutions-table td {
  padding: 8px 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}
.report-name {
  font-family: Jost;
  font-weight: 500;
  font-size: 14px;
  color: #334D6E;
}
.report-message {
  font-family: Jost;
  font-weight: 400;
  font-size: 13px;
  color: #334D6E;
}
.custom-reply-btn {
  color: #EAB308;
  background-color: transparent;
  border: none;
  font-family: Jost;
  font-weight: 500;
  font-size: 14px;
  padding: 4px 8px;
  cursor: pointer;
}
.custom-reply-btn:hover {
  text-decoration: underline;
}
.bordered-box {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  background-color: #fff;
  font-family: Jost;
  color: #334D6E;
}
.equal-height-row {
  display: flex;
  flex-wrap: wrap;
}
.equal-height-col {
  display: flex;
  flex-direction: column;
}